Repository codesquad-member-2020/airbnb-03, pull requests merged in 2020-05, with the labels that each got.

#12 프로젝트 설정
  iOS/.gitignore
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/AirbnbApp/AirbnbApp/AppDelegate.swift
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/Contents.json
  iOS/AirbnbApp/AirbnbApp/Base.lproj/LaunchScreen.storyboard
  iOS/AirbnbApp/AirbnbApp/Info.plist
  iOS/AirbnbApp/AirbnbApp/SceneDelegate.swift
  iOS/AirbnbApp/AirbnbApp/StayList/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/TabBar/TabBarController.swift
  iOS/AirbnbApp/AirbnbAppTests/AirbnbAppTests.swift
  iOS/AirbnbApp/AirbnbAppTests/Info.plist
Labels: feature, iOS

#14 오토레이아웃 Extensions 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Extensions/UIView+AutoLayout.swift
Labels: feature, iOS

#16 StayList 뷰컨트롤러 레이아웃 및 컬렉션뷰 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Extensions/UIView+addSubviews.swift
  iOS/AirbnbApp/AirbnbApp/StayList/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/ViewModels/StayListCollectionViewDataSource.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayListCollectionView.swift
Labels: feature, iOS

#22 Feat/ios/staylist search field
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/SearchTextFieldDelegate.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/FilterButton.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchFieldView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchFieldView.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchFilterView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchFilterView.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/ViewFromXib.swift
Labels: iOS

#23 StayCell - Description 부분 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/host.super.imageset/Contents.json
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/host.super.imageset/superhost.png
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/review.star.symbolset/Contents.json
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/review.star.symbolset/review.star.svg
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/stay.tintcolor.colorset/Contents.json
  iOS/AirbnbApp/AirbnbApp/Extensions/NSMutableAttributedString+append.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/LabelWithLeadingImage.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/PlaceTypeAndCityLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/PriceLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/ReviewLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SuperHostLabel.swift
Labels: feature, iOS

#31 탭바 아이콘 및 맵 버튼 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/Color.colorset/Contents.json
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/MapButtonView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/MapButtonView.xib
  iOS/AirbnbApp/AirbnbApp/TabBar/TabBarController.swift
Labels: iOS

#34 StayCell 이미지 부분 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/ThumbScrollViewDelegate.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell.xib
Labels: feature, iOS

#39 StayList 뷰컨트롤러 뷰 요소들 수정
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/keyColor.colorset/Contents.json
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/FilterButton.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/MapButton/MapButtonView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/MapButton/MapButtonView.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchField/SearchFieldView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchField/SearchFieldView.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchFilter/FilterButton.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchFilter/SearchFilterView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchFilter/SearchFilterView.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SeperatorView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/LabelWithLeadingImage.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/PlaceTypeAndCityLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/PriceLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/ReviewLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/SuperHostLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayListCollectionView.swift
Labels: feature, iOS

#43 썸네일 페이징 이미지 View 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/thumb.image.background.colorset/Contents.json
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/ThumbScrollViewDelegate.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Views/ThumbImagePaging/ThumbImagePagingView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/ThumbImagePaging/ThumbImageView.swift
Labels: feature, iOS, refactoring

#48 뷰모델을 사용한 StayListCollectionView 업데이트 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Model/Stay.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Model/StayList.swift
  iOS/AirbnbApp/AirbnbApp/StayList/ViewModels/StayListCollectionViewDataSource.swift
  iOS/AirbnbApp/AirbnbApp/StayList/ViewModels/ViewModelBinding.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/LoadingView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.swift
Labels: feature, iOS, refactoring

#54 StayDetailView 기본 동작 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/AirbnbApp/AirbnbApp/StayDetail/DetailButton.swift
  iOS/AirbnbApp/AirbnbApp/StayDetail/DetailSectionView.swift
  iOS/AirbnbApp/AirbnbApp/StayDetail/DetailSectionView.xib
  iOS/AirbnbApp/AirbnbApp/StayDetail/RoundedBorder.swift
  iOS/AirbnbApp/AirbnbApp/StayDetail/StayDetailViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayDetail/StayDetailViewController.xib
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListCollectionViewDelegate.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SeparatorView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayListCollectionView.swift
  iOS/AirbnbApp/AirbnbApp/TabBar/TabBarController.swift
Labels: iOS

#64 StayList 네트워크 요청 StayCell 및 재사용 초기화
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Network/NetworkManager.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Model/Stay.swift
  iOS/AirbnbApp/AirbnbApp/StayList/ViewModels/StayListCollectionViewDataSource.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/ThumbImagePaging/ThumbImagePagingView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/ThumbImagePaging/ThumbImageView.swift
  iOS/AirbnbApp/AirbnbApp/UseCases/StayListUseCase.swift
Labels: feature, iOS

#69 StayCell TapGestureRecognizer 구현
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/SearchTextFieldDelegate.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListCollectionViewDelegate.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/ViewModels/StayListCollectionViewDataSource.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/LoadingView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/MapButton/MapButtonView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchField/SearchFieldView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchFilter/SearchFilterView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/PlaceTypeAndCityLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/PriceLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/ReviewLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/SuperHostLabel.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayListCollectionView.swift
Labels: feature, iOS, refactoring

#72 SaveButton UI 구현 및 action 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/save.fill.colorset/Contents.json
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/save.fill.symbolset/Contents.json
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/save.fill.symbolset/suit.heart.fill.svg
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/save.symbolset/Contents.json
  iOS/AirbnbApp/AirbnbApp/Assets.xcassets/save.symbolset/suit.heart.svg
  iOS/AirbnbApp/AirbnbApp/Extensions/UIView+layer.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/MapButton/MapButtonView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/SearchField/SearchFieldView.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/SaveButton.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Views/StayCell/StayCell.xib
Labels: feature, iOS

#77 SaveButton UI 구현 및 action 구현
  iOS/AirbnbApp/AirbnbApp/Extensions/UIView+layer.swift
Labels: feature, iOS, refactoring

#81 숙소 검색 필터 쿼리 파라미터 구현
  iOS/AirbnbApp/AirbnbApp.xcodeproj/project.pbxproj
  iOS/AirbnbApp/AirbnbApp/Network/NetworkManager.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Controllers/StayListViewController.swift
  iOS/AirbnbApp/AirbnbApp/StayList/Model/SearchFilterQuery.swift
  iOS/AirbnbApp/AirbnbApp/UseCases/StayListUseCase.swift
Labels: feature, iOS
